
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body{
  
}
.bg-color-red{
  background-color: #FF4E56;
}
.container-loading {
  display:flex;
  height:100vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.topnav {
  overflow: hidden;
  background-color: #F7FAFC;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.movie-gif{
  width: 600px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
}
.topnav a {
  float: left;
  display: block;
  color: #653233;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  /* background-color: #ddd; */
  color: #fff;
  background: #506fda;
  transform: translateY(-1px);
  box-shadow: 0 0.25em 0.75em #405fca82;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.topnav a.icon {
  float: right;
  display: block;
  padding: 1 1 0 0 !important;
}
.userLogo{
  width: 30px;
  height: auto;
  border-radius: 50%;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;900&display=swap');
.title-movies {
  /* font-family: 'Alfa Slab One', cursive; */
  font-family: 'Cinzel Decorative';
  font-weight: 900;
  font-size: 28px;
  margin-left: 20px;
  text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
}
.title-loading-movies {
  font-family: 'Alfa Slab One', cursive; 
  font-weight: 900;
  font-size:  8vh;
  margin-left: 20px;
  color: #FF7A80;
  /* text-shadow: 2px 2px 5px rgba(150, 150, 150, 1); */
}
.title-back-card {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 3vh;
}
/* horizontal scrolling container */
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 8px;
  height: 100%;
  text-align: center;
  background-color: #f1f1f1;
}
.card-img-bottom {
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
}
.card-title{
  margin-bottom: auto;
}
.imageURL {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: inherit;
  height: auto;
  border: 1px solid #f1f1f1;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative; /* */
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #FFFFFF;
  color: black;
  transform: rotateY(180deg);
}

/* btn-shadow */
.btn-shadow {
  border-radius: 50px;
  padding: .5em .75em;
  background: #405fca;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0.25em 0.75em #405fca82;
  display: inline-grid;
  grid-template-columns: auto 1em;
  grid-gap: .75em;
  transform: translateY(0);
  border: 2px solid transparent;
}
.btn-shadow:hover {
  background: #506fda;
  transform: translateY(-1px);
  color: #fff;
}
.btn-secondary-shadow {
  border-radius: 50px;
  padding: .5em .75em;
  background: #242424;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0.25em 0.75em #63646482;
  display: inline-grid;
  grid-template-columns: auto 1em;
  grid-gap: .75em;
  transform: translateY(0);
  border: 2px solid transparent;
}
.btn-secondary-shadow:hover {
  background: #454545;
  transform: translateY(-1px);
  color: #fff;
}

/*  class key frame*/

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5s both;
	        animation: swing-in-top-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5s both;
}

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

/* TITLE LOADING  */
.text-pop-up-top {
	-webkit-animation: text-pop-up-top 3s linear both;
	        animation: text-pop-up-top 3s linear both;
}

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
 @-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #FF4E56, 0 2px 0 #FF4E56, 0 3px 0 #FF4E56, 0 4px 0 #FF4E56, 0 5px 0 #FF4E56, 0 6px 0 #FF4E56, 0 7px 0 #FF4E56, 0 8px 0 #FF4E56, 0 9px 0 #FF4E56, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
/* LOGIN / SIGNUP */
.input-login {
  border-radius: 50px;
  width: 100% !important;
}
.btn-login {
  box-shadow: 8px 7px 12px -4px rgba(0,0,0,0.1),-8px 0px 15px -3px rgba(0,0,0,0.1);
  border-radius: 50px;
  padding: 3px 20px 3px 20px;
}
.btn-danger-shadow {
  -webkit-box-shadow: 0px 10px 22px -7px rgba(220,53,69,1);
  -moz-box-shadow: 0px 10px 22px -7px rgba(220,53,69,1);
  box-shadow: 0px 10px 22px -7px rgba(220,53,69,1);
}
.btn-primary-shadow{
  -webkit-box-shadow: 0px 10px 22px -7px rgba(0,123,255,1);
  -moz-box-shadow: 0px 10px 22px -7px rgba(0,123,255,1);
  box-shadow: 0px 10px 22px -7px rgba(0,123,255,1);
}
.btn-success-shadow{
  -webkit-box-shadow: 0px 10px 22px -7px rgba(40, 167, 69, 1);
  -moz-box-shadow: 0px 10px 22px -7px rgba(40, 167, 69, 1);
  box-shadow: 0px 10px 22px -7px rgba(40, 167, 69, 1);
}
.btn-second-shadow{
  -webkit-box-shadow: 0px 10px 22px -7px rgba(108, 117, 125, 1);
  -moz-box-shadow: 0px 10px 22px -7px rgba(108, 117, 125, 1);
  box-shadow: 0px 10px 22px -7px rgba(108, 117, 125, 1);
}
.link-in-button{
  color: #fff;
  font-weight: 400;
}
.card-login{
  border: 1px solid #B0B0B0 !important;
  border-radius: 12px !important;
  position: relative !important;
  width: 100% !important;
  margin: 15px;
  overflow: visible !important;
}

/* ERRORS INPUTS */
.invalid-feedback {
  display: contents;
}
/* ANIMATIONS STARS LOGIN */
/* stars-1*/
.roll-in-left-1 {
	-webkit-animation: roll-in-left-1 0.6s ease-out both;
	        animation: roll-in-left-1 0.6s ease-out both;
}

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left-1 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left-1 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
/*  stars-2 */
.roll-in-left-2 {
	-webkit-animation: roll-in-left-2 0.6s ease-out 0.5s both;
	        animation: roll-in-left-2 0.6s ease-out 0.5s both;
}

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left-2 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left-2 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
/*  stars-3 */
.roll-in-left-3 {
	-webkit-animation: roll-in-left-3 0.6s ease-out 1s both;
	        animation: roll-in-left-3 0.6s ease-out 1s both;
}

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left-3 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left-3 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
/*  stars-4 */
.roll-in-left-4 {
	-webkit-animation: roll-in-left-4 0.6s ease-out 1.5s both;
	        animation: roll-in-left-4 0.6s ease-out 1.5s both;
}

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left-4 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left-4 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/*  stars-5 */
.roll-in-left-5 {
	-webkit-animation: roll-in-left-5 0.6s ease-out 2s both;
	        animation: roll-in-left-5 0.6s ease-out 2s both;
}

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left-5 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left-5 {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/* ANIMATION STARS LIST RANKING */
.rotate-vert-center {
	-webkit-animation: rotate-vert-center 3s 1s infinite alternate both;
	        animation: rotate-vert-center 3s 1s infinite alternate both;
}

/**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

/* SPINNER LOADING */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF4E56;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

/* TOAST */
#toast.success{
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #28a745;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img.success{
  width: 50px;
  height: 50px;
  float: left;
  padding-top: 5px;
  /*padding-bottom: 10px; */
  box-sizing: border-box;
  background-color: #026F1A;
  color: #fff;
}
#toast.error{
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #DD4535;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img.error{
  width: 50px;
  height: 50px;
  float: left;
  padding-top: 5px;
  /*padding-bottom: 10px; */
  box-sizing: border-box;
  background-color: #B92717;
  color: #fff;
}
#toast #desc{
  color: #fff;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible !important;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}

@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}

@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}